// RESPONSIVE

@mixin resp-tablette{
    @media screen and (min-width : map-get($responsive, breakpoint-1)) and (max-width : map-get($responsive, breakpoint-2)){
        @content;
    }
}

@mixin resp-desktop{
    @media screen and (min-width : map-get($responsive, breakpoint-2)){
        @content;
    }
}

// ANIMATIONS

//Anim couleur + ombre boutons

@mixin hover-bouton($color-low :$color-secondary, $color-high: $color-primary, $color-dark-shadow: $color-shadow){
    $grad-bas: lighten($color-low, 10%);
    $grad-haut : lighten($color-high, 10%);
    background-image: linear-gradient($grad-bas, $grad-haut);
    cursor: pointer;
    box-shadow: 5px 5px 5px darken($color-shadow,20%)
}

//Anim apparition plats

@mixin anim__plats{
    animation: plats $anim--plat--duration backwards 1 linear;
    @for $i from 1 through 10{
        &--#{$i}{
            animation-delay: $anim--plat--delay * $i;
        }
    }
}

@keyframes plats{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.30;
    }
    100%{
        opacity: 1;
    }
}

// Anim remplissage coeur

@mixin anim__coeurs{
&::before{
    content: "\f004";
}
&:hover{
    background-image: linear-gradient($color-secondary, $color-primary);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    transition: all $anim--coeur linear;
    font-weight: 900;
    }
}

//Anim checkbox

@mixin anim__checkbox{
    &__checkbox{
        transform-origin: right;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-tertiary;
        border-radius: 0 20px 20px 0;
        height: 100%;
        width: 0px;
        animation : checkbox-shrink $anim--checkbox/2 forwards linear;

        & > i{
            transform: rotate(0deg);
            opacity : 0;
            animation: checkbox-rotate-reverse $anim--checkbox/2 forwards linear;

        }
    }
    &:hover{
        & .plat__checkbox{
        animation : checkbox-grow $anim--checkbox forwards linear;
        & > i{
            animation: checkbox-rotate $anim--checkbox forwards linear;
        }
        }
        
    }
}

@keyframes checkbox-rotate{
    0%{
        transform: rotate(0deg);
        opacity : 0;
    }
    100%{
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes checkbox-rotate-reverse{
    0%{
        transform: rotate(360deg);
        opacity : 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes checkbox-grow{
    0%{
        width: 0px;
    }
    100%{
        width: 80px;
    }
}

@keyframes checkbox-shrink{
    0%{
        width: 80px;
    }
    100%{
        width: 0px;
    }
}