// COULEURS 

$color-text: #000000;

$color-shadow: #a8a8a8;

$color-primary: #9356DC;

$color-secondary: #FF79DA;

$color-tertiary: #99E2D0;

$color-footer-background: #383838;

// RESPONSIVE

$responsive:(
    breakpoint-1: 768px,
    breakpoint-2: 991px,
);